import /init.recovery.graphics.rc
import /init.recovery.display.rc
import /init.recovery.system_protection.rc
import /init.recovery.fixes.rc
import /init.recovery.hlthchrg.rc
import /init.recovery.logd.rc
import /init.recovery.usb.rc
import /init.recovery.service.rc

on early-init
    write /proc/sys/kernel/printk "1 1 1 1"
    
on init
    mkdir /vendor 0755 root root
    mount tmpfs tmpfs /vendor mode=0755,uid=0,gid=0
    
    copy /system/etc/vintf/manifest.xml /vendor/manifest.xml
    chmod 644 /vendor/manifest.xml
    
    mkdir /vendor/bin 0755 root root
    mkdir /vendor/lib 0755 root root
    mkdir /vendor/lib64 0755 root root
    mkdir /vendor/etc 0755 root root
    mkdir /vendor/firmware 0755 root root
    
    mkdir /dev/block/bootdevice 0755 root root
    mkdir /dev/block/bootdevice/by-name 0755 root root
    
    export ANDROID_ROOT /system_root
    
    symlink /dev/block/mmcblk0p31 /dev/block/bootdevice/by-name/misc
    symlink /dev/block/mmcblk0p43 /dev/block/bootdevice/by-name/boot
    symlink /dev/block/mmcblk0p44 /dev/block/bootdevice/by-name/recovery
    symlink /dev/block/mmcblk0p45 /dev/block/bootdevice/by-name/metadata
    symlink /dev/block/mmcblk0p56 /dev/block/bootdevice/by-name/userdata
    symlink /dev/block/mmcblk0p47 /dev/block/bootdevice/by-name/cache
    symlink /dev/block/mmcblk0p41 /dev/block/bootdevice/by-name/sec_efs
    symlink /dev/block/mmcblk0p42 /dev/block/bootdevice/by-name/dtbo

on property:twrp.mount_all=true
    write /proc/sys/kernel/printk "7 4 1 7"

on property:ro.bootmode=recovery
    exec - root root -- /sbin/permissive.sh
    setprop ro.recovery.active 1
    setprop sys.boot_completed 1
    setprop vendor.health.service.disable 1
    
    wait /dev/graphics/fb0 10
    wait /dev/block/mmcblk0p56 5
    wait /dev/block/mmcblk0p47 5
    
    write /sys/class/graphics/fb0/blank 1
    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb0/state 1
    write /sys/class/graphics/fb0/bits_per_pixel 32
    
    write /sys/class/vtconsole/vtcon1/bind 0
    write /sys/class/tty/tty0/active 1
    
    start recovery


    
on property:ro.bootmode=normal
    setprop ro.recovery.active 0

on boot
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

# recovery service moved to init.recovery.service.rc

service keystore2 /system/bin/false
    disabled
    oneshot

service vendor.keymaster-4-0 /system/bin/false
    disabled
    oneshot

service vendor.gatekeeper-1-0 /system/bin/false
    disabled
    oneshot